<h1>I'm the new page and I want to show the form to create a new tweet</h1>
{{!-- <form action='/tweets' method="Post">
    <label for="user">User:</label><br>
    <input type="text" name="user here"><br>
    <label for="message">Message:</label><br>
    <input type="text" name="message here">
    <div>
        <button type="submit">Create tweet</button>
    </div>
</form> --}}

<form action="/tweets" method="POST">
  <div class="mb-3">
    <label for="user" class="form-label">user</label>
    <input name="user" type="text" class="form-control" id="user">
  </div>

  <div class="mb-3">
    <label for="message" class="form-label">message</label>
    <textarea name="message" class="form-control" id="message" rows="5">
    </textarea>
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>
